@model IEnumerable<EventsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_DashboardLayout";

}

<div class="sb2-2-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inn-sp">
                <div class="inn-title">
                    <h4>جميع المؤتمرات</h4>
                </div>
                <div class="tab-inn">
                    <div class="table-responsive table-desi">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>الصوره</th>
                                    <th>عنوان المؤتمر</th>
                                    <th>الوصف</th>
                                    <th>التاريخ</th>
                                    <th>المكان</th>
                                    <th>تعديل مؤتمر</th>
                                    <th>حذف مؤتمر</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <span class="list-img"><img src="~/uploads/events/@item.EventImageName" alt="" asp-append-version="true" ></span> @*random image for all departments*@
                                        </td>
                                        <td>
                                            <a><span class="list-enq-name">@item.EventTitle</span></a>
                                        </td>
                                        @if (item.EventDescription.Length < 40)
                                        {
                                            <td>@item.EventDescription</td>

                                        }
                                        else
                                        {
                                            <td>@item.EventDescription.Substring(0, 40) ........</td>

                                        }
                                        <td>@item.DateDay , @item.DateMonth , @item.Time PM</td>
                                        <td>@item.EventLocation</td>


                                        <td><a asp-action="Edit" asp-controller="Events" asp-route-id="@item.EveId" class="ad-st-view-edit">تعديل</a></td>

                                        <td><a asp-action="Delete" asp-controller="Events" asp-route-id="@item.EveId" class="ad-st-view-delete DeleteSubmitbutton">حذف</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

            $('.DeleteSubmitbutton').on('click', function (event) {
                event.preventDefault();
                var deleteUrl = $(this).attr('href');
                Swal.fire({
                    title: "هل تريد القيام بالحذف ؟",
                    icon: "warning",
                    iconHtml: "!",
                    confirmButtonText: "نعم",
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    cancelButtonText: "لا",
                    showCancelButton: true,
                    showCloseButton: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: deleteUrl,
                            type: 'GET',
                            success: function (response) {
                                Swal.fire({
                                    position: "center",
                                    icon: "success",
                                    title: response.deleteMessage,
                                    showConfirmButton: false,
                                    timer: 1700
                                }).then(() => {
                                    window.location.href = '/Events/Index';
                                });
                            },
                            error: function (xhr, status, error) {
                                console.error('Error occurred:', error);
                            }
                        });
                    }
                });
            });
        });
    </script>
}


