@model NewsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
