@model StaffViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biograpghy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biograpghy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <img src="~/uploads/staff/@Model.StaffImageName" alt="no image found" width="250" height="250" asp-append-version="true" />

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
